<main role="main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>お知らせ</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>1/26はメンテナンスのため、全日使用できません。</p>
    </mat-card-content>
  </mat-card>
  <br>
  <div class="list-group">
    <a routerLink="/search" class="list-group-item list-group-item-action">カンバン表示（材番指定）</a>
    <a href="#" class="list-group-item list-group-item-action disabled">工番</a>
    <a href="#" class="list-group-item list-group-item-action disabled">見積</a>
    <a href="#" class="list-group-item list-group-item-action disabled">実績入力</a>
  </div><!-- /.list -->
  <hr>
  <!-- FOOTER -->
  <footer class="container">
    <!-- <p class="float-right"><a href="#">Back to top</a></p>-->
    <p>&copy; 2017-2018 Company, Inc.</p>
  </footer>
</main>
