<main role="main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>お知らせ</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngFor="let item of infomation;">{{item}}</p>
    </mat-card-content>
  </mat-card>
  <mat-nav-list>
    <!-- <mat-list-item *ngFor="let link of links">
      <a matLine href="...">{{ link }}</a>
      <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>info</mat-icon>
      </button>
    </mat-list-item> -->
    <a mat-list-item routerLink="/search">カンバン表示（材番指定）</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/search">工番</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/search">見積</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/search">実績入力</a>
  </mat-nav-list>
  <hr>
  <!-- FOOTER -->
  <footer class="container">
    <!-- <p class="float-right"><a href="#">Back to top</a></p>-->
    <p>&copy; 2017-2018 Company, Inc.</p>
  </footer>
</main>
