<main role="main">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" dynamicHeight>
    <!-- 計画 -->
    <mat-tab label="計画">
        <mat-card>
            <mat-card-content>
                <table class="table table-sm table-borderless mb-0">
                    <tr>
                      <th scope="row">工番　　：</th>
                      <td>FL99-9999</td>
                    </tr>
                    <tr>
                      <th scope="row">符号　　：</th>
                      <td>001-001</td>
                    </tr>
                    <tr>
                      <th scope="row">材料番号：</th>
                      <td>99D9999-01-001-002</td>
                    </tr>
                  </table>
            </mat-card-content>
          </mat-card>
          <!-- <ng-template matTabContent>基本</ng-template> -->
          <mat-card>
              <mat-card-content>
                <mat-tab-group dynamicHeight>
                  <mat-tab label="010">
                    <mat-card>
                      <mat-card-content>
                          <table class="table table-sm table-borderless mb-0">
                              <tr>
                                <th scope="row">工程　　：</th>
                                <td colspan="3">010：鋳込み～焼鈍終了</td>
                              </tr>
                              <tr>
                                <th scope="row">計画開始：</th>
                                <td colspan="3">2018/12/20 15：00：00</td>
                              </tr>
                              <tr>
                                <th scope="row">計画終了：</th>
                                <td colspan="3">2018/12/20 15：00：00</td>
                              </tr>
                              <tr>
                                <th scope="row">製造時間：</th>
                                <td>999</td>
                                <th>単位：</th>
                                <td>時間</td>
                              </tr>
                              <tr>
                                <th scope="row">資源：</th>
                                <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                              </tr>
                            </table>
          


                      </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>ユーザ指定</mat-card-title>
                          </mat-card-header>
                                        <mat-card-content>
                          <table class="table table-sm table-borderless mb-0">
                              <tr>
                                <th scope="row">計画開始：</th>
                                <td colspan="3">2018/12/20 15：00：00</td>
                              </tr>
                              <tr>
                                <th scope="row">計画終了：</th>
                                <td colspan="3">2018/12/20 15：00：00</td>
                              </tr>
                              <tr>
                                <th scope="row">製造時間：</th>
                                <td>999</td>
                                <th>単位：</th>
                                <td>時間</td>
                              </tr>
                              <tr>
                                <th scope="row">コメント：</th>
                                <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                              </tr>
                              <tr>
                                <th scope="row">検査場所：</th>
                                <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                              </tr>
                            </table>
            
                      </mat-card-content>
                    </mat-card>
                  </mat-tab>
                  <mat-tab label="020">
                      <mat-card>
                        <mat-card-content>
                            <table class="table table-sm table-borderless mb-0">
                                <tr>
                                  <th scope="row">工程　　：</th>
                                  <td colspan="3">010：鋳込み～焼鈍終了</td>
                                </tr>
                                <tr>
                                  <th scope="row">計画開始：</th>
                                  <td colspan="3">2018/12/20 15：00：00</td>
                                </tr>
                                <tr>
                                  <th scope="row">計画終了：</th>
                                  <td colspan="3">2018/12/20 15：00：00</td>
                                </tr>
                                <tr>
                                  <th scope="row">製造時間：</th>
                                  <td>999</td>
                                  <th>単位：</th>
                                  <td>時間</td>
                                </tr>
                                <tr>
                                  <th scope="row">資源：</th>
                                  <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                                </tr>
                              </table>
            
  
  
                        </mat-card-content>
                      </mat-card>
                      <mat-card>
                          <mat-card-header>
                              <mat-card-title>ユーザ指定</mat-card-title>
                            </mat-card-header>
                                          <mat-card-content>
                            <table class="table table-sm table-borderless mb-0">
                                <tr>
                                  <th scope="row">計画開始：</th>
                                  <td colspan="3">2018/12/20 15：00：00</td>
                                </tr>
                                <tr>
                                  <th scope="row">計画終了：</th>
                                  <td colspan="3">2018/12/20 15：00：00</td>
                                </tr>
                                <tr>
                                  <th scope="row">製造時間：</th>
                                  <td>999</td>
                                  <th>単位：</th>
                                  <td>時間</td>
                                </tr>
                                <tr>
                                  <th scope="row">コメント：</th>
                                  <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                                </tr>
                                <tr>
                                  <th scope="row">検査場所：</th>
                                  <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                                </tr>
                              </table>
              
                        </mat-card-content>
                      </mat-card>
                    </mat-tab>
                  <mat-tab label="030">
                    <mat-card>
                      <mat-card-content>
                          <table class="table table-sm table-borderless mb-0">
                              <tr>
                                <th scope="row">工程　　：</th>
                                <td colspan="3">010：鋳込み～焼鈍終了</td>
                              </tr>
                              <tr>
                                <th scope="row">計画開始：</th>
                                <td colspan="3">2018/12/20 15：00：00</td>
                              </tr>
                              <tr>
                                <th scope="row">計画終了：</th>
                                <td colspan="3">2018/12/20 15：00：00</td>
                              </tr>
                              <tr>
                                <th scope="row">製造時間：</th>
                                <td>999</td>
                                <th>単位：</th>
                                <td>時間</td>
                              </tr>
                              <tr>
                                <th scope="row">資源：</th>
                                <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                              </tr>
                            </table>
          


                      </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>ユーザ指定</mat-card-title>
                          </mat-card-header>
                                        <mat-card-content>
                          <table class="table table-sm table-borderless mb-0">
                              <tr>
                                <th scope="row">計画開始：</th>
                                <td colspan="3">2018/12/20 15：00：00</td>
                              </tr>
                              <tr>
                                <th scope="row">計画終了：</th>
                                <td colspan="3">2018/12/20 15：00：00</td>
                              </tr>
                              <tr>
                                <th scope="row">製造時間：</th>
                                <td>999</td>
                                <th>単位：</th>
                                <td>時間</td>
                              </tr>
                              <tr>
                                <th scope="row">コメント：</th>
                                <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                              </tr>
                              <tr>
                                <th scope="row">検査場所：</th>
                                <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                              </tr>
                            </table>
            
                      </mat-card-content>
                    </mat-card>
                  </mat-tab>
                  </mat-tab-group>
              </mat-card-content>
            </mat-card>
      
    </mat-tab> <!-- 計画 -->
    <!-- 実績 -->
    <mat-tab label="実績">
      <!-- <ng-template matTabContent>工程</ng-template> -->
      <mat-card>
        <mat-card-content>
            <table class="table table-sm table-borderless mb-0">
                <tr>
                  <th scope="row">工番　　：</th>
                  <td>FL99-9999</td>
                </tr>
                <tr>
                  <th scope="row">符号　　：</th>
                  <td>001-001</td>
                </tr>
                <tr>
                  <th scope="row">材料番号：</th>
                  <td>99D9999-01-001-002</td>
                </tr>
              </table>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <mat-tab-group dynamicHeight>
            <mat-tab label="010">
                <mat-card>
                    <mat-card-content>
                        <table class="table table-sm table-borderless mb-0">
                            <tr>
                              <th scope="row">工程　　：</th>
                              <td>010：鋳込み～焼鈍終了</td>
                            </tr>
                          </table>
                            </mat-card-content>
                  </mat-card>
              <mat-card>
                <mat-card-content>
                    <table class="table table-sm table-borderless mb-0">
                        <tr>
                          <th scope="row">実績開始：</th>
                          <td colspan="3">2018/12/20 15：00：00</td>
                        </tr>
                        <tr>
                          <th scope="row">実績終了：</th>
                          <td colspan="3">2018/12/20 15：00：00</td>
                        </tr>
                        <tr>
                          <th scope="row">ステータス：</th>
                          <td>着手</td>
                          <th>進捗：</th>
                          <td>99％</td>
                        </tr>
                        <tr>
                          <th scope="row">資源：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">コメント：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">検査コメント：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">検査結果：</th>
                          <td colspan="3">（OK）</td>
                        </tr>
                        <tr>
                          <th scope="row">製品部コメント：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">対応：</th>
                          <td colspan="3">（△△△△△）</td>
                        </tr>
                      </table>
                    </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab label="020">
                <mat-card>
                    <mat-card-content>
                        <table class="table table-sm table-borderless mb-0">
                            <tr>
                              <th scope="row">工程　　：</th>
                              <td>010：鋳込み～焼鈍終了</td>
                            </tr>
                          </table>
                            </mat-card-content>
                  </mat-card>
              <mat-card>
                <mat-card-content>
                    <table class="table table-sm table-borderless mb-0">
                        <tr>
                          <th scope="row">実績開始：</th>
                          <td colspan="3">2018/12/20 15：00：00</td>
                        </tr>
                        <tr>
                          <th scope="row">実績終了：</th>
                          <td colspan="3">2018/12/20 15：00：00</td>
                        </tr>
                        <tr>
                          <th scope="row">ステータス：</th>
                          <td>着手</td>
                          <th>進捗：</th>
                          <td>99％</td>
                        </tr>
                        <tr>
                          <th scope="row">資源：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">コメント：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">検査コメント：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">検査結果：</th>
                          <td colspan="3">（OK）</td>
                        </tr>
                        <tr>
                          <th scope="row">製品部コメント：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">対応：</th>
                          <td colspan="3">（△△△△△）</td>
                        </tr>
                      </table>
                    </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab label="030">
                <mat-card>
                    <mat-card-content>
                        <table class="table table-sm table-borderless mb-0">
                            <tr>
                              <th scope="row">工程　　：</th>
                              <td>010：鋳込み～焼鈍終了</td>
                            </tr>
                          </table>
                            </mat-card-content>
                  </mat-card>
              <mat-card>
                <mat-card-content>
                    <table class="table table-sm table-borderless mb-0">
                        <tr>
                          <th scope="row">実績開始：</th>
                          <td colspan="3">2018/12/20 15：00：00</td>
                        </tr>
                        <tr>
                          <th scope="row">実績終了：</th>
                          <td colspan="3">2018/12/20 15：00：00</td>
                        </tr>
                        <tr>
                          <th scope="row">ステータス：</th>
                          <td>着手</td>
                          <th>進捗：</th>
                          <td>99％</td>
                        </tr>
                        <tr>
                          <th scope="row">資源：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">コメント：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">検査コメント：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">検査結果：</th>
                          <td colspan="3">（OK）</td>
                        </tr>
                        <tr>
                          <th scope="row">製品部コメント：</th>
                          <td colspan="3">〇〇〇〇〇〇〇〇〇〇〇</td>
                        </tr>
                        <tr>
                          <th scope="row">対応：</th>
                          <td colspan="3">（△△△△△）</td>
                        </tr>
                      </table>
                    </mat-card-content>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</main>