<main role="main">
  <div class="container-fluid">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="base" aria-selected="true">基本</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">工程</a>
      </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- 基本 -->
      <div class="tab-pane active" id="base" role="tabpanel" aria-labelledby="base-tab">
        <nav id="navbar-scroll" class="navbar navbar-light bg-light">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="#one">001</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#two">002</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#three">003</a>
            </li>
          </ul>
        </nav>
        <ul class="h-list" data-spy="scroll" data-target="#navbar-scroll" data-offset="0">
          <li class="h-item" id="one">
            <div class="card">
              <div class="card-body pt-1">
                <table class="table table-sm table-borderless mb-0">
                  <tr>
                    <th scope="row">工番　　：</th>
                    <td colspan="3">FL99-9999</td>
                  </tr>
                  <tr>
                    <th scope="row">符号　　：</th>
                    <td>001-001</td>
                    <th>連結：</th>
                    <td>有</td>
                  </tr>
                  <tr>
                    <th scope="row">材料番号：</th>
                    <td colspan="3">99D9999-01-001-001</td>
                  </tr>
                  <tr>
                    <th scope="row">工事状態：</th>
                    <td colspan="3">未着手</td>
                  </tr>
                  <tr>
                    <th scope="row">品名　　：</th>
                    <td colspan="3">PB ROLL</td>
                  </tr>
                  <tr>
                    <th scope="row">工事名称：</th>
                    <td colspan="3">BACK UP ROLL FOR REVERSING STECKEL 4HI MILL STAND</td>
                  </tr>
                  <tr>
                    <th scope="row">注文元　：</th>
                    <td colspan="3">Japan Steel Works America,Inc.</td>
                  </tr>
                  <tr>
                    <th scope="row">鋳込日　：</th>
                    <td colspan="3">2018年 12月 01日</td>
                  </tr>
                  <tr>
                    <th scope="row">納期　　：</th>
                    <td colspan="3">2018年 12月 20日</td>
                  </tr>
                  <tr>
                    <th scope="row">完了日　：</th>
                    <td colspan="3">2018年 12月 17日</td>
                  </tr>
                  <tr>
                    <th scope="row">コメント：</th>
                    <td colspan="3">受注決定<br>出来るだけ早く</td>
                  </tr>
                  <tr>
                    <th scope="row">展開識別番号：</th>
                    <td colspan="3">odr18_00001</td>
                  </tr>
                </table>
              </div>
            </div>
          </li>
          <li class="h-item" id="two">
            <div class="card">
              <div class="card-body pt-1">
                <table class="table table-sm table-borderless mb-0">
                  <tr>
                    <th scope="row">工番　　：</th>
                    <td colspan="3">FL99-9999</td>
                  </tr>
                  <tr>
                    <th scope="row">符号　　：</th>
                    <td>001-001</td>
                    <th>連結：</th>
                    <td>有</td>
                  </tr>
                  <tr>
                    <th scope="row">材料番号：</th>
                    <td colspan="3">99D9999-01-001-002</td>
                  </tr>
                  <tr>
                    <th scope="row">工事状態：</th>
                    <td colspan="3">未着手</td>
                  </tr>
                  <tr>
                    <th scope="row">品名　　：</th>
                    <td colspan="3">PB ROLL</td>
                  </tr>
                  <tr>
                    <th scope="row">工事名称：</th>
                    <td colspan="3">BACK UP ROLL FOR REVERSING STECKEL 4HI MILL STAND</td>
                  </tr>
                  <tr>
                    <th scope="row">注文元　：</th>
                    <td colspan="3">Japan Steel Works America,Inc.</td>
                  </tr>
                  <tr>
                    <th scope="row">鋳込日　：</th>
                    <td colspan="3">2018年 12月 01日</td>
                  </tr>
                  <tr>
                    <th scope="row">納期　　：</th>
                    <td colspan="3">2018年 12月 20日</td>
                  </tr>
                  <tr>
                    <th scope="row">完了日　：</th>
                    <td colspan="3">2018年 12月 17日</td>
                  </tr>
                  <tr>
                    <th scope="row">コメント：</th>
                    <td colspan="3">受注決定<br>出来るだけ早く</td>
                  </tr>
                  <tr>
                    <th scope="row">展開識別番号：</th>
                    <td colspan="3">odr18_00001</td>
                  </tr>
                </table>
              </div>
            </div>
          </li>
          <li class="h-item" id="three">
            <div class="card">
              <div class="card-body pt-1">
                <table class="table table-sm table-borderless mb-0">
                  <tr>
                    <th scope="row">工番　　：</th>
                    <td colspan="3">FL99-9999</td>
                  </tr>
                  <tr>
                    <th scope="row">符号　　：</th>
                    <td>001-001</td>
                    <th>連結：</th>
                    <td>有</td>
                  </tr>
                  <tr>
                    <th scope="row">材料番号：</th>
                    <td colspan="3">99D9999-01-002-001</td>
                  </tr>
                  <tr>
                    <th scope="row">工事状態：</th>
                    <td colspan="3">未着手</td>
                  </tr>
                  <tr>
                    <th scope="row">品名　　：</th>
                    <td colspan="3">PB ROLL</td>
                  </tr>
                  <tr>
                    <th scope="row">工事名称：</th>
                    <td colspan="3">BACK UP ROLL FOR REVERSING STECKEL 4HI MILL STAND</td>
                  </tr>
                  <tr>
                    <th scope="row">注文元　：</th>
                    <td colspan="3">Japan Steel Works America,Inc.</td>
                  </tr>
                  <tr>
                    <th scope="row">鋳込日　：</th>
                    <td colspan="3">2018年 12月 01日</td>
                  </tr>
                  <tr>
                    <th scope="row">納期　　：</th>
                    <td colspan="3">2018年 12月 20日</td>
                  </tr>
                  <tr>
                    <th scope="row">完了日　：</th>
                    <td colspan="3">2018年 12月 17日</td>
                  </tr>
                  <tr>
                    <th scope="row">コメント：</th>
                    <td colspan="3">受注決定<br>出来るだけ早く</td>
                  </tr>
                  <tr>
                    <th scope="row">展開識別番号：</th>
                    <td colspan="3">odr18_00001</td>
                  </tr>
                </table>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- /.base -->
      
      <!-- 工程 -->
      <div class="tab-pane" id="details" role="tabpanel" aria-labelledby="details-tab">
        <!-- 材番 -->
        <p class="text-center">
          99D9999-01-001-001
        </p>
        <!-- 一覧 -->
        <div class="list-group v-list">
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            010:鋳込み～焼鈍終了
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            020:冷却
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            030:ESR～焼鈍完了
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            xxx:
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            xxx:
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            xxx:
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            xxx:
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            xxx:
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            xxx:
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            xxx:
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            xxx:
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            230：ネックR部HF手入れ リング焼嵌 プラグ入り
            <span class="badge badge-light">□■</span>
          </a>
          <a routerLink="/detail" 
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            240：出荷
            <span class="badge badge-light">□■</span>
          </a>
        </div><!-- /.list-group -->
      </div><!-- /.details -->
    </div><!-- tab-content -->
  </div><!-- container-fluid -->
</main>
