<main role="main">
  <mat-tab-group mat-align-tabs="center" headerPosition="below" dynamicHeight>
    <mat-tab label="{{i}}" *ngFor="let data of dataSource; let i = index">
      <mat-tab-group mat-align-tabs="center" animationDuration="0ms" dynamicHeight>
        <!-- 基本 -->
        <mat-tab label="基本">
          <mat-card>
            <mat-card-content>
              <table>
                <tr>
                  <th>工番　　：</th>
                  <td colspan="3">{{data.kouji_no}}</td>
                </tr>
                <tr>
                  <th>符号　　：</th>
                  <td>{{data.fugou_1}}-{{data.fugou_2}}</td>
                  <th>連結：</th>
                  <td>{{data.renketu_umu}}</td>
                </tr>
                <tr>
                  <th>材料番号：</th>
                  <td colspan="3">{{data.zaiban}}</td>
                </tr>
                <tr>
                  <th>工事状態：</th>
                  <td colspan="3">{{data.kouji_status}}</td>
                </tr>
                <tr>
                  <th>品名　　：</th>
                  <td colspan="3">{{data.hinmei}}</td>
                </tr>
                <tr>
                  <th>工事名称：</th>
                  <td colspan="3">{{data.kouji_name}}</td>
                </tr>
                <tr>
                  <th>注文元　：</th>
                  <td colspan="3">{{data.chuumon_moto}}</td>
                </tr>
                <tr>
                  <th>鋳込日　：</th>
                  <td colspan="3">{{data.ikomi_date}}</td>
                </tr>
                <tr>
                  <th>納期　　：</th>
                  <td colspan="3">{{data.nouki}}</td>
                </tr>
                <tr>
                  <th>完了日　：</th>
                  <td colspan="3">{{data.fugou_1}}</td>
                </tr>
                <tr>
                  <th>コメント：</th>
                  <td colspan="3">{{data.comment}}</td>
                </tr>
                <tr>
                  <th>展開識別番号：</th>
                  <td colspan="3">{{data.tenkai_shikibetu_no}}</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </mat-tab> <!-- 基本 -->
        <!-- 工程 -->
        <mat-tab label="工程">
          <!-- <ng-template matTabContent>工程</ng-template> -->
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{data.zaiban}}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-nav-list>
                <mat-list-item routerLink="/detail" *ngFor="let item of data.order_koutei;">
                  <p>{{item.koutei_no}}:{{item.koutei_name}}</p>
                  <mat-chip-list>
                    <mat-chip>□</mat-chip>
                    <mat-chip>■</mat-chip>
                  </mat-chip-list> 
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-nav-list>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</main>
