<main role="main">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" dynamicHeight>
    <!-- 基本 -->
    <mat-tab label="基本">
      <!-- <ng-template matTabContent>基本</ng-template> -->
      <mat-card>
        <mat-card-content>
          <mat-tab-group dynamicHeight>
            <mat-tab label="001">
              <mat-card>
                <mat-card-content>
                    <table >
                        <tr>
                          <th>工番　　：</th>
                          <td colspan="3">FL99-9999</td>
                        </tr>
                        <tr>
                          <th>符号　　：</th>
                          <td>001-001</td>
                          <th>連結：</th>
                          <td>有</td>
                        </tr>
                        <tr>
                          <th>材料番号：</th>
                          <td colspan="3">99D9999-01-001-001</td>
                        </tr>
                        <tr>
                          <th>工事状態：</th>
                          <td colspan="3">未着手</td>
                        </tr>
                        <tr>
                          <th>品名　　：</th>
                          <td colspan="3">PB ROLL</td>
                        </tr>
                        <tr>
                          <th>工事名称：</th>
                          <td colspan="3">BACK UP ROLL FOR REVERSING STECKEL 4HI MILL STAND</td>
                        </tr>
                        <tr>
                          <th>注文元　：</th>
                          <td colspan="3">Japan Steel Works America,Inc.</td>
                        </tr>
                        <tr>
                          <th>鋳込日　：</th>
                          <td colspan="3">2018年 12月 01日</td>
                        </tr>
                        <tr>
                          <th>納期　　：</th>
                          <td colspan="3">2018年 12月 20日</td>
                        </tr>
                        <tr>
                          <th>完了日　：</th>
                          <td colspan="3">2018年 12月 17日</td>
                        </tr>
                        <tr>
                          <th>コメント：</th>
                          <td colspan="3">受注決定<br>出来るだけ早く</td>
                        </tr>
                        <tr>
                          <th>展開識別番号：</th>
                          <td colspan="3">odr18_00001</td>
                        </tr>
                      </table>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab label="002">
                <mat-card>
                  <mat-card-content>
                      <table >
                          <tr>
                            <th>工番　　：</th>
                            <td colspan="3">FL99-9999</td>
                          </tr>
                          <tr>
                            <th>符号　　：</th>
                            <td>001-001</td>
                            <th>連結：</th>
                            <td>有</td>
                          </tr>
                          <tr>
                            <th>材料番号：</th>
                            <td colspan="3">99D9999-01-001-001</td>
                          </tr>
                          <tr>
                            <th>工事状態：</th>
                            <td colspan="3">未着手</td>
                          </tr>
                          <tr>
                            <th>品名　　：</th>
                            <td colspan="3">PB ROLL</td>
                          </tr>
                          <tr>
                            <th>工事名称：</th>
                            <td colspan="3">BACK UP ROLL FOR REVERSING STECKEL 4HI MILL STAND</td>
                          </tr>
                          <tr>
                            <th>注文元　：</th>
                            <td colspan="3">Japan Steel Works America,Inc.</td>
                          </tr>
                          <tr>
                            <th>鋳込日　：</th>
                            <td colspan="3">2018年 12月 01日</td>
                          </tr>
                          <tr>
                            <th>納期　　：</th>
                            <td colspan="3">2018年 12月 20日</td>
                          </tr>
                          <tr>
                            <th>完了日　：</th>
                            <td colspan="3">2018年 12月 17日</td>
                          </tr>
                          <tr>
                            <th>コメント：</th>
                            <td colspan="3">受注決定<br>出来るだけ早く</td>
                          </tr>
                          <tr>
                            <th>展開識別番号：</th>
                            <td colspan="3">odr18_00001</td>
                          </tr>
                        </table>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
              <mat-tab label="003">
                  <mat-card>
                    <mat-card-content>
                        <table >
                            <tr>
                              <th>工番　　：</th>
                              <td colspan="3">FL99-9999</td>
                            </tr>
                            <tr>
                              <th>符号　　：</th>
                              <td>001-001</td>
                              <th>連結：</th>
                              <td>有</td>
                            </tr>
                            <tr>
                              <th>材料番号：</th>
                              <td colspan="3">99D9999-01-001-001</td>
                            </tr>
                            <tr>
                              <th>工事状態：</th>
                              <td colspan="3">未着手</td>
                            </tr>
                            <tr>
                              <th>品名　　：</th>
                              <td colspan="3">PB ROLL</td>
                            </tr>
                            <tr>
                              <th>工事名称：</th>
                              <td colspan="3">BACK UP ROLL FOR REVERSING STECKEL 4HI MILL STAND</td>
                            </tr>
                            <tr>
                              <th>注文元　：</th>
                              <td colspan="3">Japan Steel Works America,Inc.</td>
                            </tr>
                            <tr>
                              <th>鋳込日　：</th>
                              <td colspan="3">2018年 12月 01日</td>
                            </tr>
                            <tr>
                              <th>納期　　：</th>
                              <td colspan="3">2018年 12月 20日</td>
                            </tr>
                            <tr>
                              <th>完了日　：</th>
                              <td colspan="3">2018年 12月 17日</td>
                            </tr>
                            <tr>
                              <th>コメント：</th>
                              <td colspan="3">受注決定<br>出来るだけ早く</td>
                            </tr>
                            <tr>
                              <th>展開識別番号：</th>
                              <td colspan="3">odr18_00001</td>
                            </tr>
                          </table>
                    </mat-card-content>
                  </mat-card>
                </mat-tab>
                </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </mat-tab> <!-- 基本 -->
    <!-- 工程 -->
    <mat-tab label="工程">
      <!-- <ng-template matTabContent>工程</ng-template> -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>99D9999-01-001-001</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-nav-list>
            <mat-list-item routerLink="/detail">
              <p>010:鋳込み～焼鈍終了</p>
              <mat-chip-list>
                <mat-chip>□</mat-chip>
                <mat-chip>■</mat-chip>
              </mat-chip-list> 
            </mat-list-item>
            <mat-list-item routerLink="/detail">
              <p>020:冷却</p>
            </mat-list-item>
            <mat-list-item routerLink="/detail">
              <p>030:ESR～焼鈍完了</p>
            </mat-list-item>
            <mat-list-item routerLink="/detail">
              <p>xxx:</p>
            </mat-list-item>
            <mat-list-item routerLink="/detail">
              <p>xxx:</p>
            </mat-list-item>
            <mat-list-item routerLink="/detail">
              <p>xxx:</p>
            </mat-list-item>
            <mat-list-item routerLink="/detail">
              <p>230：ネックR部HF手入れ リング焼嵌 プラグ入り</p>
            </mat-list-item>
            <mat-list-item routerLink="/detail">
              <p>240：出荷</p>
            </mat-list-item>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</main>
